In [1]:
import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve, make_scorer
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import mlflow
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
path = './Projet 7'
data1 = pd.read_csv(path+"/application_test.csv")
data1

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [3]:
data2 = pd.read_csv(path+"/application_train.csv")
data2

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [4]:
data3 = pd.read_csv(path+"/bureau.csv")
data3

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

In [5]:
data4 = pd.read_csv(path+"/bureau_balance.csv")
data4

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [6]:
data5 = pd.read_csv(path+"/credit_card_balance.csv")
data5

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [7]:
data6 = pd.read_csv(path+"/HomeCredit_columns_description.csv", encoding='latin1')
data6.drop(columns = ['Unnamed: 0'], inplace = True)
data6

,Table,Row,Description,Special
0,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...
214,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [8]:
data7 = pd.read_csv(path+"/installments_payments.csv")
data7

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
...,...,...,...,...,...,...,...,...
13605396,2186857,428057,0.0,66,-1624.0,NaN,67.500,NaN
13605397,1310347,414406,0.0,47,-1539.0,NaN,67.500,NaN
13605398,1308766,402199,0.0,43,-7.0,NaN,43737.435,NaN
13605399,1062206,409297,0.0,43,-1986.0,NaN,67.500,NaN
13605400,2448869,434321,1.0,19,-27.0,NaN,11504.250,NaN

In [9]:
data8 = pd.read_csv(path+"/POS_CASH_balance.csv")
data8

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
...,...,...,...,...,...,...,...,...
10001353,2448283,226558,-20,6.0,0.0,Active,843,0
10001354,1717234,141565,-19,12.0,0.0,Active,602,0
10001355,1283126,315695,-21,10.0,0.0,Active,609,0
10001356,1082516,450255,-22,12.0,0.0,Active,614,0
10001357,1259607,174278,-52,16.0,0.0,Completed,0,0

In [10]:
data9 = pd.read_csv(path+"/previous_application.csv")
data9

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670209,2300464,352015,Consumer loans,14704.290,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,...,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,...,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

In [11]:
data10 = pd.read_csv(path+"/sample_submission.csv")
data10

       SK_ID_CURR  TARGET
0          100001     0.5
1          100005     0.5
2          100013     0.5
3          100028     0.5
4          100038     0.5
...           ...     ...
48739      456221     0.5
48740      456222     0.5
48741      456223     0.5
48742      456224     0.5
48743      456250     0.5

[48744 rows x 2 columns]

In [12]:
def get_info(column_name):
    return data6.loc[(data6['Row'] == column_name)]

In [13]:
get_info('AMT_INCOME_TOTAL').iloc[0,2]

'Income of the client'

In [14]:
# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = False):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

# Preprocess application_train.csv and application_test.csv
def application_train_test(num_rows = None, nan_as_category = False):
    # Read data and merge
    df = pd.read_csv(path+'/application_train.csv', nrows= num_rows)
    # Optional: Remove 4 applications with XNA CODE_GENDER (train set)
    df = df[df['CODE_GENDER'] != 'XNA']
    
    # Categorical features with Binary encode (0 or 1; two categories)
    for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
        df[bin_feature], uniques = pd.factorize(df[bin_feature])
    # Categorical features with One-Hot encode
    df, cat_cols = one_hot_encoder(df, nan_as_category)
    
    # NaN values for DAYS_EMPLOYED: 365.243 -> nan
    df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)
    # Some simple new features (percentages)
    df['DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
    df['INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']
    df['INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
    df['ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
    df['PAYMENT_RATE'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']
    gc.collect()
    return df

# Preprocess bureau.csv and bureau_balance.csv
def bureau_and_balance(num_rows = None, nan_as_category = False):
    bureau = pd.read_csv(path+'/bureau.csv', nrows = num_rows)
    bb = pd.read_csv(path+'/bureau_balance.csv', nrows = num_rows)
    bb, bb_cat = one_hot_encoder(bb, nan_as_category)
    bureau, bureau_cat = one_hot_encoder(bureau, nan_as_category)
    
    # Bureau balance: Perform aggregations and merge with bureau.csv
    bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}
    for col in bb_cat:
        bb_aggregations[col] = ['mean']
    bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations)
    bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])
    bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')
    bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)
    del bb, bb_agg
    gc.collect()
    
    # Bureau and bureau_balance numeric features
    num_aggregations = {
        'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
        'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
        'DAYS_CREDIT_UPDATE': ['mean'],
        'CREDIT_DAY_OVERDUE': ['max', 'mean'],
        'AMT_CREDIT_MAX_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
        'AMT_ANNUITY': ['max', 'mean'],
        'CNT_CREDIT_PROLONG': ['sum'],
        'MONTHS_BALANCE_MIN': ['min'],
        'MONTHS_BALANCE_MAX': ['max'],
        'MONTHS_BALANCE_SIZE': ['mean', 'sum']
    }
    # Bureau and bureau_balance categorical features
    cat_aggregations = {}
    for cat in bureau_cat: cat_aggregations[cat] = ['mean']
    for cat in bb_cat: cat_aggregations[cat + "_MEAN"] = ['mean']
    
    bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])
    # Bureau: Active credits - using only numerical aggregations
    active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
    active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
    active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')
    del active, active_agg
    gc.collect()
    # Bureau: Closed credits - using only numerical aggregations
    closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
    closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
    closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')
    del closed, closed_agg, bureau
    gc.collect()
    return bureau_agg

# Preprocess previous_applications.csv
def previous_applications(num_rows = None, nan_as_category = False):
    prev = pd.read_csv(path+'/previous_application.csv', nrows = num_rows)
    prev, cat_cols = one_hot_encoder(prev, nan_as_category= False)
    # Days 365.243 values -> nan
    prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
    prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)
    # Add feature: value ask / value received percentage
    prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']
    # Previous applications numeric features
    num_aggregations = {
        'AMT_ANNUITY': ['min', 'max', 'mean'],
        'AMT_APPLICATION': ['min', 'max', 'mean'],
        'AMT_CREDIT': ['min', 'max', 'mean'],
        'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
        'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
        'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
        'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'DAYS_DECISION': ['min', 'max', 'mean'],
        'CNT_PAYMENT': ['mean', 'sum'],
    }
    # Previous applications categorical features
    cat_aggregations = {}
    for cat in cat_cols:
        cat_aggregations[cat] = ['mean']
    
    prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
    # Previous Applications: Approved Applications - only numerical features
    approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
    approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
    approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
    prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')
    # Previous Applications: Refused Applications - only numerical features
    refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
    refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
    refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
    prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')
    del refused, refused_agg, approved, approved_agg, prev
    gc.collect()
    return prev_agg

# Preprocess POS_CASH_balance.csv
def pos_cash(num_rows = None, nan_as_category = False):
    pos = pd.read_csv(path+'/POS_CASH_balance.csv', nrows = num_rows)
    pos, cat_cols = one_hot_encoder(pos, nan_as_category= False)
    # Features
    aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size'],
        'SK_DPD': ['max', 'mean'],
        'SK_DPD_DEF': ['max', 'mean']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    
    pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
    pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
    # Count pos cash accounts
    pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()
    del pos
    gc.collect()
    return pos_agg
    
# Preprocess installments_payments.csv
def installments_payments(num_rows = None, nan_as_category = False):
    ins = pd.read_csv(path+'/installments_payments.csv', nrows = num_rows)
    ins, cat_cols = one_hot_encoder(ins, nan_as_category= False)
    # Percentage and difference paid in each installment (amount paid and installment value)
    ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
    ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']
    # Days past due and days before due (no negative values)
    ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
    ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
    ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
    ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)
    # Features: Perform aggregations
    aggregations = {
        'NUM_INSTALMENT_VERSION': ['nunique'],
        'DPD': ['max', 'mean', 'sum'],
        'DBD': ['max', 'mean', 'sum'],
        'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
        'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
        'AMT_INSTALMENT': ['max', 'mean', 'sum'],
        'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
        'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
    ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])
    # Count installments accounts
    ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()
    del ins
    gc.collect()
    return ins_agg

# Preprocess credit_card_balance.csv
def credit_card_balance(num_rows = None, nan_as_category = False):
    cc = pd.read_csv(path+'/credit_card_balance.csv', nrows = num_rows)
    cc, cat_cols = one_hot_encoder(cc, nan_as_category= False)
    # General aggregations
    cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
    cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
    cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
    # Count credit card lines
    cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()
    del cc
    gc.collect()
    return cc_agg




def main(debug = False):
    num_rows = 10000 if debug else None
    df = application_train_test(num_rows)
    bureau = bureau_and_balance(num_rows)
    print("Bureau df shape:", bureau.shape)
    df = df.join(bureau, how='left', on='SK_ID_CURR')
    del bureau
    gc.collect()
    prev = previous_applications(num_rows)
    print("Previous applications df shape:", prev.shape)
    df = df.join(prev, how='left', on='SK_ID_CURR')
    del prev
    gc.collect()
    pos = pos_cash(num_rows)
    print("Pos-cash balance df shape:", pos.shape)
    df = df.join(pos, how='left', on='SK_ID_CURR')
    del pos
    gc.collect()
    ins = installments_payments(num_rows)
    print("Installments payments df shape:", ins.shape)
    df = df.join(ins, how='left', on='SK_ID_CURR')
    del ins
    gc.collect()
    cc = credit_card_balance(num_rows)
    print("Credit card balance df shape:", cc.shape)
    df = df.join(cc, how='left', on='SK_ID_CURR')
    del cc
    return df

In [15]:
data_final = main()
data_final

Bureau df shape: (305811, 112)
Previous applications df shape: (338857, 233)
Pos-cash balance df shape: (337252, 17)
Installments payments df shape: (339587, 26)
Credit card balance df shape: (103558, 136)

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Sent proposal_MAX,CC_NAME_CONTRACT_STATUS_Sent proposal_MEAN,CC_NAME_CONTRACT_STATUS_Sent proposal_SUM,CC_NAME_CONTRACT_STATUS_Sent proposal_VAR,CC_NAME_CONTRACT_STATUS_Signed_MIN,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_COUNT
0,100002,1,0,0,0,0,202500.0,406597.5,24700.5,351000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,1,0,1,0,270000.0,1293502.5,35698.5,1129500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,0,1,0,0,67500.0,135000.0,6750.0,135000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,1,0,0,0,135000.0,312682.5,29686.5,297000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
4,100007,0,0,0,0,0,121500.0,513000.0,21865.5,513000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,0,0,1,0,157500.0,254700.0,27558.0,225000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,1,0,0,0,72000.0,269550.0,12001.5,225000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,1,0,0,0,153000.0,677664.0,29979.0,585000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307509,456254,1,1,0,0,0,171000.0,370107.0,20205.0,319500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307510,456255,0,1,0,1,0,157500.0,675000.0,49117.5,675000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
def clean_feature(df):
    clean_list = []
    for i in df.columns:
        if df[i].isnull().sum()>40000:
            clean_list.append(i)
    return df.loc[:,~df.columns.isin(clean_list)]

In [17]:
def clean_nan(df):
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    for i in df.columns:
        if df[i].isnull().sum()>0:
            df[i].fillna(df[i].mean(), inplace = True)
    return df

In [18]:
data_final = clean_feature(data_final)
data_final = clean_nan(data_final)
data_final

C:\Users\Eric\AppData\Local\Temp\ipykernel_6976\938119688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace([np.inf, -np.inf], np.nan, inplace=True)
C:\Users\Eric\AppData\Local\Temp\ipykernel_6976\938119688.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i].fillna(df[i].mean(), inplace = True)

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
0,100002,1,0,0,0,0,202500.0,406597.5,24700.5,351000.0,...,11559.247105,219625.695,9251.775,53093.745,11559.247105,219625.695,-49.0,-315.421053,-5993.0,19.0
1,100003,0,1,0,1,0,270000.0,1293502.5,35698.5,1129500.0,...,64754.586000,1618864.650,6662.970,560835.360,64754.586000,1618864.650,-544.0,-1385.320000,-34633.0,25.0
2,100004,0,0,1,0,0,67500.0,135000.0,6750.0,135000.0,...,7096.155000,21288.465,5357.250,10573.965,7096.155000,21288.465,-727.0,-761.666667,-2285.0,3.0
3,100006,0,1,0,0,0,135000.0,312682.5,29686.5,297000.0,...,62947.088438,1007153.415,2482.920,691786.890,62947.088438,1007153.415,-12.0,-271.625000,-4346.0,16.0
4,100007,0,0,0,0,0,121500.0,513000.0,21865.5,513000.0,...,12666.444545,835985.340,0.180,22678.785,12214.060227,806127.975,-14.0,-1032.242424,-68128.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,0,0,1,0,157500.0,254700.0,27558.0,225000.0,...,7492.924286,52450.470,6605.910,12815.010,7492.924286,52450.470,-38.0,-156.285714,-1094.0,7.0
307507,456252,0,1,0,0,0,72000.0,269550.0,12001.5,225000.0,...,10069.867500,60419.205,10046.880,10074.465,10069.867500,60419.205,-2327.0,-2393.833333,-14363.0,6.0
307508,456253,0,1,0,0,0,153000.0,677664.0,29979.0,585000.0,...,4399.707857,61595.910,27.270,5575.185,4115.915357,57622.815,-1738.0,-2387.428571,-33424.0,14.0
307509,456254,1,1,0,0,0,171000.0,370107.0,20205.0,319500.0,...,10239.832895,194556.825,2296.440,19065.825,10239.832895,194556.825,-18.0,-161.263158,-3064.0,19.0
307510,456255,0,1,0,1,0,157500.0,675000.0,49117.5,675000.0,...,41464.713649,3068388.810,34.965,669251.655,47646.215878,3525819.975,-76.0,-472.013514,-34929.0,74.0

In [98]:
correlations = data_final.corr()
correlations.sort_values(by = 'TARGET', ascending = False).iloc[:,:2].head(50)

                                                   SK_ID_CURR    TARGET
TARGET                                              -0.002111  1.000000
DAYS_BIRTH                                          -0.001500  0.078242
PREV_NAME_CONTRACT_STATUS_Refused_MEAN               0.002055  0.076083
REGION_RATING_CLIENT_W_CITY                         -0.001130  0.060895
REGION_RATING_CLIENT                                -0.001067  0.058901
NAME_INCOME_TYPE_Working                            -0.002598  0.057483
PREV_NAME_PRODUCT_TYPE_walk-in_MEAN                  0.000189  0.056230
DAYS_LAST_PHONE_CHANGE                              -0.000851  0.055219
PREV_CODE_REJECT_REASON_SCOFR_MEAN                   0.001908  0.054717
PREV_CODE_REJECT_REASON_HC_MEAN                      0.000095  0.053420
PREV_DAYS_DECISION_MIN                              -0.001589  0.052332
APPROVED_DAYS_DECISION_MIN                          -0.001642  0.052317
DAYS_ID_PUBLISH                                     -0.000389  0.051457
REG_CITY_NOT_WORK_CITY                              -0.001588  0.050992
NAME_EDUCATION_TYPE_Secondary / secondary special   -0.001150  0.049822
FLAG_EMP_PHONE                                      -0.001332  0.045984
PREV_DAYS_DECISION_MEAN                             -0.001300  0.045901
REG_CITY_NOT_LIVE_CITY                              -0.001888  0.044394
FLAG_DOCUMENT_3                                     -0.003427  0.044341
INSTAL_DAYS_ENTRY_PAYMENT_MEAN                       0.001144  0.043115
OCCUPATION_TYPE_Laborers                            -0.001049  0.043017
DAYS_REGISTRATION                                   -0.000973  0.041976
PREV_NAME_YIELD_GROUP_XNA_MEAN                       0.001129  0.041969
PREV_PRODUCT_COMBINATION_Card Street_MEAN            0.000631  0.039414
PREV_CODE_REJECT_REASON_LIMIT_MEAN                   0.001145  0.039022
APPROVED_DAYS_DECISION_MEAN                         -0.000825  0.038019
PREV_NAME_CONTRACT_TYPE_Revolving loans_MEAN         0.001856  0.037931
PREV_NAME_YIELD_GROUP_high_MEAN                     -0.000875  0.036795
INSTAL_DAYS_ENTRY_PAYMENT_SUM                       -0.001305  0.034524
PREV_NAME_PAYMENT_TYPE_XNA_MEAN                      0.001438  0.034228
PREV_CHANNEL_TYPE_AP+ (Cash loan)_MEAN               0.000649  0.034125
POS_MONTHS_BALANCE_MEAN                             -0.000388  0.033678
LIVE_CITY_NOT_WORK_CITY                              0.000063  0.032517
DEF_30_CNT_SOCIAL_CIRCLE                            -0.000091  0.032235
PREV_NAME_GOODS_CATEGORY_XNA_MEAN                    0.001615  0.031473
DEF_60_CNT_SOCIAL_CIRCLE                             0.001175  0.031270
PREV_NAME_PORTFOLIO_Cards_MEAN                       0.001278  0.031079
NAME_CONTRACT_TYPE_Cash loans                       -0.001684  0.030886
OCCUPATION_TYPE_Drivers                              0.000465  0.030303
NAME_HOUSING_TYPE_With parents                       0.000974  0.029965
PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN     -0.000117  0.029535
PREV_PRODUCT_COMBINATION_Cash Street: high_MEAN     -0.002444  0.029518
ORGANIZATION_TYPE_Self-employed                      0.002816  0.029137
PREV_NAME_PORTFOLIO_XNA_MEAN                         0.000462  0.028826
INSTAL_PAYMENT_DIFF_MEAN                            -0.002121  0.028755
FLAG_WORK_PHONE                                     -0.000395  0.028533
PREV_NAME_SELLER_INDUSTRY_Connectivity_MEAN          0.000370  0.027877
OCCUPATION_TYPE_Low-skill Laborers                  -0.000639  0.027609
PREV_CNT_PAYMENT_MEAN                                0.001891  0.027160
PREV_CNT_PAYMENT_SUM                                 0.001674  0.027151

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, auc, confusion_matrix, roc_curve
from itertools import product

def apply_threshold(predict, threshold):
    pred = predict.copy()
    pred = pred[:,1]
    matching = (pred >= threshold)
    pred[matching] = 1
    pred[~matching] = 0
    return pred

def bank_scoring(y_test, predict):
    confu = confusion_matrix(y_test, predict)
    FP = confu[1,0]
    FN = confu[0,1]
    loss_for_bank = 10*FP + FN
    return loss_for_bank

banklosss = make_scorer(bank_scoring, greater_is_better=False)

def scaler(df):
    data = df.copy()
    scaler_columns = [col for col in data.columns if not (data[col].unique().shape[0] == 2)]
    data.loc[:,scaler_columns] = preprocessing.StandardScaler().fit_transform(data.loc[:,scaler_columns])
    return data



def create_test_list(param_list):
    list_param = []
    for i in list(product(*tuple(param_list))):
        list_param.append(list(i))
    return list_param

In [20]:
df_copy = data_final.copy()
X = df_copy.loc[:, (df_copy.columns != 'TARGET')&(df_copy.columns != 'SK_ID_CURR')]
y = df_copy['TARGET']
X = scaler(X)
X_train, X_test, y_train, y_test = train_test_split(X, y)

sample_weights = np.zeros(len(y_train))
sample_weights[y_train == 0] = 0.54
sample_weights[y_train == 1] = 6.19

In [22]:
from sklearn.dummy import DummyClassifier

acclist = []
bankloss = []

with mlflow.start_run():

    # Set the model parameters. 
    strategy = 'most_frequent'

    # Create and train model.
    dm = DummyClassifier(strategy = 'most_frequent')
    dm.fit(X_train, y_train)

    # Use the model to make predictions on the test dataset.
    predictions = dm.predict(X_test)

    # Log the model parameters used for this run.
    mlflow.log_param("strategy", strategy)

    # Define a metric to use to evaluate the model.
    acc = accuracy_score(y_test, predictions)
    acclist.append(acc)
    loss_for_bank = bank_scoring(y_test, predictions)
    bankloss.append(loss_for_bank)


    # Log the value of the metric from this run.
    mlflow.log_metric("acc", acc)
    mlflow.log_metric("cost of bad predict", loss_for_bank)



    # Log the model created by this run.
    mlflow.sklearn.log_model(dm, "dummie-model") 

d = pd.DataFrame()
d["accuracy"] = acclist
d['bankloss'] = bankloss
d

   accuracy  bankloss
0  0.919898     61580

In [43]:
param_list = [[100,200],
              [10,20,30],
              ['log2'],
              [0.1,0.2,0.3]]            
test_list = create_test_list(param_list)

acclist = []
bankloss = []
for i in test_list:
    with mlflow.start_run():

        # Set the model parameters. 
        n_estimators = i[0]
        max_depth = i[1]
        max_features = i[2]
        threshold = i[3]

        # Create and train model.
        rf = RandomForestClassifier(n_estimators = n_estimators,
                                    max_depth = max_depth,
                                    max_features = max_features)
        rf.fit(X_train, y_train, sample_weight = sample_weights)

        # Use the model to make predictions on the test dataset.
        predictions = rf.predict_proba(X_test)
        predict_thresh = apply_threshold(predictions, threshold)

        # Log the model parameters used for this run.
        mlflow.log_param("num_trees", n_estimators)
        mlflow.log_param("maxdepth", max_depth)
        mlflow.log_param("max_feat", max_features)
        mlflow.log_param("threshold", threshold)

        # Define a metric to use to evaluate the model.
        acc = accuracy_score(y_test, predict_thresh)
        acclist.append(acc)
        loss_for_bank = bank_scoring(y_test, predict_thresh)
        bankloss.append(loss_for_bank)


        # Log the value of the metric from this run.
        mlflow.log_metric("acc", acc)
        mlflow.log_metric("cost of bad predict", loss_for_bank)



        # Log the model created by this run.
        mlflow.sklearn.log_model(rf, "random-forest-model") 

d = pd.DataFrame()
d['param'] = test_list
d["accuracy"] = acclist
d['bankloss'] = bankloss
d

                   param  accuracy  bankloss
0   [100, 10, log2, 0.1]  0.080102     70719
1   [100, 10, log2, 0.2]  0.080193     70712
2   [100, 10, log2, 0.3]  0.109278     68791
3   [100, 20, log2, 0.1]  0.153206     66224
4   [100, 20, log2, 0.2]  0.527869     49625
5   [100, 20, log2, 0.3]  0.776331     48587
6   [100, 30, log2, 0.1]  0.615360     47723
7   [100, 30, log2, 0.2]  0.860765     52257
8   [100, 30, log2, 0.3]  0.907749     58500
9   [200, 10, log2, 0.1]  0.080102     70719
10  [200, 10, log2, 0.2]  0.080128     70717
11  [200, 10, log2, 0.3]  0.107613     68847
12  [200, 20, log2, 0.1]  0.145531     66625
13  [200, 20, log2, 0.2]  0.523993     49473
14  [200, 20, log2, 0.3]  0.782367     48114
15  [200, 30, log2, 0.1]  0.619613     46667
16  [200, 30, log2, 0.2]  0.860830     52513
17  [200, 30, log2, 0.3]  0.909648     58759

In [149]:
featimp = pd.DataFrame()
featimp['featurename'] = X.columns
featimp['importance'] = rf.feature_importances_
featimp.sort_values(by = 'importance', ascending = False).head(20)

                                 featurename  importance
28                              EXT_SOURCE_2    0.054341
9                                 DAYS_BIRTH    0.016706
260   PREV_NAME_CONTRACT_STATUS_Refused_MEAN    0.012788
427                   INSTAL_AMT_PAYMENT_MIN    0.012067
273         PREV_CODE_REJECT_REASON_XAP_MEAN    0.011227
432           INSTAL_DAYS_ENTRY_PAYMENT_MEAN    0.010879
217                  PREV_DAYS_DECISION_MEAN    0.010786
411                          INSTAL_DPD_MEAN    0.010091
215                   PREV_DAYS_DECISION_MIN    0.009973
417                 INSTAL_PAYMENT_PERC_MEAN    0.009816
258  PREV_NAME_CONTRACT_STATUS_Approved_MEAN    0.009624
421                 INSTAL_PAYMENT_DIFF_MEAN    0.009494
270       PREV_CODE_REJECT_REASON_SCOFR_MEAN    0.009489
33                    DAYS_LAST_PHONE_CHANGE    0.009358
11                           DAYS_ID_PUBLISH    0.009054
387               APPROVED_DAYS_DECISION_MIN    0.008953
190                             PAYMENT_RATE    0.008928
202                PREV_APP_CREDIT_PERC_MEAN    0.008602
433            INSTAL_DAYS_ENTRY_PAYMENT_SUM    0.008513
389              APPROVED_DAYS_DECISION_MEAN    0.008420

In [44]:
from imblearn.ensemble import BalancedRandomForestClassifier

param_list = [[100,200],
              [10,20,30],
              ['log2'],
              [0.2,0.4,0.5,0.6],
              [0.2,0.4,0.5,0.6]]

test_list = create_test_list(param_list)

acclist = []
bankloss = []
for i in test_list:
    with mlflow.start_run():

        # Set the model parameters. 
        n_estimators = i[0]
        max_depth = i[1]
        max_features = i[2]
        sampling_strategy = i[3]
        threshold = i[4]
        


        # Create and train model.
        brf = BalancedRandomForestClassifier(n_estimators = n_estimators,
                                             max_features = max_features,
                                             sampling_strategy = sampling_strategy)
        brf.fit(X_train, y_train, sample_weight = sample_weights)

        # Use the model to make predictions on the test dataset.
        predictions = brf.predict_proba(X_test)
        predict_thresh = apply_threshold(predictions, threshold)

        # Log the model parameters used for this run.
        mlflow.log_param("num_trees", n_estimators)
        mlflow.log_param("maxdepth", max_depth)
        mlflow.log_param("max_feat", max_features)
        mlflow.log_param("sampling_strategy", sampling_strategy)
        mlflow.log_param("threshold", threshold)

        # Define a metric to use to evaluate the model.
        acc = accuracy_score(y_test, predict_thresh)
        acclist.append(acc)
        loss_for_bank = bank_scoring(y_test, predict_thresh)
        bankloss.append(loss_for_bank)


        # Log the value of the metric from this run.
        mlflow.log_metric("acc", acc)
        mlflow.log_metric("cost of bad predict", loss_for_bank)



        # Log the model created by this run.
        mlflow.sklearn.log_model(rf, "balanced-randomfor-model") 

d = pd.DataFrame()
d['param'] = test_list
d["accuracy"] = acclist
d['bankloss'] = bankloss
d

                        param  accuracy  bankloss
0   [100, 10, log2, 0.2, 0.2]  0.749769     46372
1   [100, 10, log2, 0.2, 0.4]  0.916802     58830
2   [100, 10, log2, 0.2, 0.5]  0.919781     61013
3   [100, 10, log2, 0.2, 0.6]  0.920002     61464
4   [100, 10, log2, 0.4, 0.2]  0.406129     53566
..                        ...       ...       ...
91  [200, 30, log2, 0.5, 0.6]  0.916204     59101
92  [200, 30, log2, 0.6, 0.2]  0.221132     62199
93  [200, 30, log2, 0.6, 0.4]  0.741587     46281
94  [200, 30, log2, 0.6, 0.5]  0.866293     51742
95  [200, 30, log2, 0.6, 0.6]  0.910129     57444

[96 rows x 3 columns]

In [42]:
from sklearn.ensemble import BaggingClassifier
           
param_list = [[10,20],
              [0.8,1],
              [0.8,1],
              [0.2,0.3,0.4,0.5]
             ]

test_list = create_test_list(param_list)

acclist = []
bankloss = []
for i in test_list:
    with mlflow.start_run():

        # Set the model parameters. 
        n_estimators = i[0]
        max_samples = i[1]
        max_features = i[2]
        threshold = i[3]

        # Create and train model.
        bg = BaggingClassifier(n_estimators = n_estimators,
                               max_samples = max_samples,
                               max_features = max_features)
        bg.fit(X_train, y_train, sample_weight = sample_weights)

        # Use the model to make predictions on the test dataset.
        predictions = bg.predict_proba(X_test)
        predict_thresh = apply_threshold(predictions, threshold)

        # Log the model parameters used for this run.
        mlflow.log_param("num_try_bagg", n_estimators)
        mlflow.log_param("max_sample_bagg", max_samples)
        mlflow.log_param("max_feat_bagg", max_features)
        mlflow.log_param("threshold", threshold)

        # Define a metric to use to evaluate the model.
        acc = accuracy_score(y_test, predict_thresh)
        acclist.append(acc)
        loss_for_bank = bank_scoring(y_test, predict_thresh)
        bankloss.append(loss_for_bank)


        # Log the value of the metric from this run.
        mlflow.log_metric("acc", acc)
        mlflow.log_metric("cost of bad predict", loss_for_bank)



        # Log the model created by this run.
        mlflow.sklearn.log_model(bg, "bagging-model") 

d = pd.DataFrame()
d['param'] = test_list
d["accuracy"] = acclist
d['bankloss'] = bankloss
d

<>:4: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:4: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\Eric\AppData\Local\Temp\ipykernel_6976\4273707462.py:4: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  [0.8,1]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
featimp = pd.DataFrame()
featimp['featurename'] = X.columns
featimp['importance'] = brf.feature_importances_
featimp.sort_values(by = 'importance', ascending = False).head(20)

In [41]:
from sklearn.ensemble import GradientBoostingClassifier

param_list = [[0.1,0.5,1],
              [100,200],
              [10,20,30],
              ['log2'],
              [0.3,0.4,0.5]]

test_list = create_test_list(param_list)

acclist = []
bankloss = []
for i in test_list:
    with mlflow.start_run():

        # Set the model parameters. 
        learning_rate = i[0]
        n_estimators = i[1]
        max_depth= i[2]
        max_features = i[3]
        threshold = i[4]
        


        # Create and train model.
        gbc = GradientBoostingClassifier(learning_rate = learning_rate,
                                         max_features = max_features,
                                         max_depth = max_depth,
                                         n_estimators = n_estimators)
        gbc.fit(X_train, y_train, sample_weight = sample_weights)

        # Use the model to make predictions on the test dataset.
        predictions = gbc.predict_proba(X_test)
        predict_thresh = apply_threshold(predictions, threshold)

        # Log the model parameters used for this run.
        mlflow.log_param("learning_rate", learning_rate)
        mlflow.log_param("n_estimators", n_estimators)
        mlflow.log_param("max_feat", max_features)
        mlflow.log_param("max_depth", max_depth)
        mlflow.log_param("threshold", threshold)

        # Define a metric to use to evaluate the model.
        acc = accuracy_score(y_test, predict_thresh)
        acclist.append(acc)
        loss_for_bank = bank_scoring(y_test, predict_thresh)
        bankloss.append(loss_for_bank)


        # Log the value of the metric from this run.
        mlflow.log_metric("acc", acc)
        mlflow.log_metric("cost of bad predict", loss_for_bank)



        # Log the model created by this run.
        mlflow.sklearn.log_model(gbc, "GradientBoostingClassifier-model") 

d = pd.DataFrame()
d['param'] = test_list
d["accuracy"] = acclist
d['bankloss'] = bankloss
d

                        param  accuracy  bankloss
0   [0.1, 100, 10, log2, 0.3]  0.517983     46821
1   [0.1, 100, 10, log2, 0.4]  0.684925     42960
2   [0.1, 100, 10, log2, 0.5]  0.795622     43684
3   [0.1, 100, 20, log2, 0.3]  0.917427     59448
4   [0.1, 100, 20, log2, 0.4]  0.918792     60315
5   [0.1, 100, 20, log2, 0.5]  0.919742     60953
6   [0.1, 100, 30, log2, 0.3]  0.920119     61293
7   [0.1, 100, 30, log2, 0.4]  0.919989     61393
8   [0.1, 100, 30, log2, 0.5]  0.920015     61436
9   [0.1, 200, 10, log2, 0.3]  0.627223     43814
10  [0.1, 200, 10, log2, 0.4]  0.750042     43516
11  [0.1, 200, 10, log2, 0.5]  0.828635     45610
12  [0.1, 200, 20, log2, 0.3]  0.920067     61153
13  [0.1, 200, 20, log2, 0.4]  0.919989     61339
14  [0.1, 200, 20, log2, 0.5]  0.919976     61385
15  [0.1, 200, 30, log2, 0.3]  0.920015     61463
16  [0.1, 200, 30, log2, 0.4]  0.919963     61485
17  [0.1, 200, 30, log2, 0.5]  0.920002     61464
18  [0.5, 100, 10, log2, 0.3]  0.750797     48057
19  [0.5, 100, 10, log2, 0.4]  0.808590     49662
20  [0.5, 100, 10, log2, 0.5]  0.844271     50834
21  [0.5, 100, 20, log2, 0.3]  0.919846     61269
22  [0.5, 100, 20, log2, 0.4]  0.919781     61328
23  [0.5, 100, 20, log2, 0.5]  0.919911     61345
24  [0.5, 100, 30, log2, 0.3]  0.919976     61421
25  [0.5, 100, 30, log2, 0.4]  0.920093     61385
26  [0.5, 100, 30, log2, 0.5]  0.920041     61416
27  [0.5, 200, 10, log2, 0.3]  0.839224     50205
28  [0.5, 200, 10, log2, 0.4]  0.863184     51765
29  [0.5, 200, 10, log2, 0.5]  0.881486     53319
30  [0.5, 200, 20, log2, 0.3]  0.919937     61280
31  [0.5, 200, 20, log2, 0.4]  0.919859     61295
32  [0.5, 200, 20, log2, 0.5]  0.919976     61331
33  [0.5, 200, 30, log2, 0.3]  0.919976     61412
34  [0.5, 200, 30, log2, 0.4]  0.920041     61416
35  [0.5, 200, 30, log2, 0.5]  0.919950     61459
36    [1, 100, 10, log2, 0.3]  0.807225     52179
37    [1, 100, 10, log2, 0.4]  0.828141     52992
38    [1, 100, 10, log2, 0.5]  0.849682     53532
39    [1, 100, 20, log2, 0.3]  0.919144     60675
40    [1, 100, 20, log2, 0.4]  0.919339     60669
41    [1, 100, 20, log2, 0.5]  0.919560     60823
42    [1, 100, 30, log2, 0.3]  0.919794     61228
43    [1, 100, 30, log2, 0.4]  0.919729     61314
44    [1, 100, 30, log2, 0.5]  0.919963     61233
45    [1, 200, 10, log2, 0.3]  0.860049     53680
46    [1, 200, 10, log2, 0.4]  0.869883     54823
47    [1, 200, 10, log2, 0.5]  0.882240     55160
48    [1, 200, 20, log2, 0.3]  0.918948     60771
49    [1, 200, 20, log2, 0.4]  0.919000     60875
50    [1, 200, 20, log2, 0.5]  0.919521     60889
51    [1, 200, 30, log2, 0.3]  0.919703     61226
52    [1, 200, 30, log2, 0.4]  0.919716     61306
53    [1, 200, 30, log2, 0.5]  0.919781     61346